.navbar {
    width: 200px;
    height: 100vh;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Para alinhar os itens ao topo */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixa a barra de navegação na lateral */
}

.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-bottom: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #fff;
}

.user-info {
    margin-top: 20px; /* Adiciona espaço entre a lista de links e o username */
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #555; /* Linha separadora */
    padding-top: 15px; /* Espaço após a linha */
}

.user-info .user-icon {
    font-size: 18px;
    margin-right: 8px;
}

.username {
    display: block; /* Certifica que o texto do username fica abaixo */
    color: #fff;
    margin-top: 10px; /* Espaço acima do username */
}
