.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Ajuste o tamanho da barra conforme necessário */
    height: 100%; /* Faz com que ocupe toda a altura da página */
    background-color: #333; /* Cor de fundo */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombras para destacar */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

.main-content {
    margin-left: 200px; /* Deve corresponder à largura da navbar */
    padding: 20px;
}

.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-bottom: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #fff;
}

.user-info {
    margin-top: 20px; /* Adiciona espaço entre a lista de links e o username */
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #555; /* Linha separadora */
    padding-top: 15px; /* Espaço após a linha */
}

.user-info .user-icon {
    font-size: 18px;
    margin-right: 8px;
}

.username {
    display: block; /* Certifica que o texto do username fica abaixo */
    color: #fff;
    margin-top: 10px; /* Espaço acima do username */
}
